body {
    margin: 0;
    overflow: hidden;
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    outline: none;
}

/*Jquery Alterações*/

body .ui-tooltip {
    border: 1px solid #333;
    border-radius: 0;
    background: url(../imagens/window-bg2.png);
    color: #fff;
    font-size: 12px;
    box-shadow: 0px 0px 10px #000;
    padding: 2px;
}

.ui-dialog {
    padding: 0;
    background: url(../imagens/window-bg.png);
    -webkit-box-shadow: 0 0 1px #799a9f, inset 0 0 2px #7c9fa5;
    box-shadow: 0 0 1px #799a9f, inset 0 0 2px #7c9fa5;
    border-radius: 0;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
    margin: 5px;
    background: url(../imagens/coh.png) no-repeat, url(../imagens/window-bg2.png);
    background-position: center;
    color: #fff;
}

.ui-dialog-content {
    font-size: 12px;
}

.ui-dialog-title {
    font-size: 12px;
}

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget-content {
    border: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .2em .2em;
    position: relative;
    margin: 1px;
}

.ui-dialog .ui-dialog-title {
    margin: 0;
}

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget-header .ui-state-default {
    border: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 15px;
    margin: 2px;
    padding: 1px;
    height: 14px;
}

.ui-button-icon-only .ui-icon {
    margin-left: -9px;
}

div.dialog-header {
    padding: 0;
    margin: 0;
    display: flex;
}

.dialog-header > div {
    display: inline-block;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
}

div.dialog-header-title {
    font-size: 12px;
    font-style: italic;
    color: #FFF;
    padding: 0 8px;
    text-shadow: 0 1px #000;
}

div.dialog-tabs {
    height: 14px;
    overflow: hidden;
}

div.dialog-tabs-controls {
    position: absolute;
    right: 25px;
    top: 0;
}

span.dialog-tabs-mask {
    position: absolute;
    width: 100px;
    height: 21px;
    right: 0;
    top: 0;
    background: url(../imagens/window-bg-mask.png);
    border-radius: 0 4px 4px 0;
}

div.dialog-tabs-controls a {
    margin: 0 5px;
    cursor: pointer;
}

ul.dialog-tabs {
    padding: 0;
    margin: 0;
    margin-right: 24px;
    font-size: 0;
}

ul.dialog-tabs li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    padding: 0 5px;
}

ul.dialog-tabs li a {
    text-decoration: none;
    color: white;
    transition: color .2s;
}

ul.dialog-tabs li a:hover {
    color: #5FF065;
}

ul.dialog-tabs li a:active, ul.dialog-tabs li a.ativo {
    color: #FFDB24;
}

/*Final Jquery Alterações*/

/* PADROES */

.content {
    background-color: rgba(31, 30, 28, 0.8);
}

button:not(.ui-button), input[type="submit"], input[type="button"] {
    border: 0;
    background-color: #676864;
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    transition: opacity .5s;
    cursor: pointer;
    color: #FFFFED;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 900;
}

button:not(.ui-button):hover {
    text-shadow: 0 0 2px #000;
}

button:not(.ui-button):hover i {
    text-shadow: 0 0 2px #000;
}

input[type="submit"], input[type="button"] {
    margin: 2px auto;
    padding: 0 2px;
}

/* FIM PADROES */

#header {
    height: 80px;
    font-size: 70px;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
}

#login {
    position: relative;
    width: 215px;
    height: 80px;
    margin: .5em;
    padding: .5em;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
    border-radius: .5em;
}

#registro {
    position: relative;
    width: 235px;
    height: 150px;
    margin: .5em;
    padding: .5em;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
    border-radius: .5em;
}

.alerta {
    position: absolute;
    z-index: 1000;
    border-radius: 10px;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px #B2B2B2, 0 5px 10px -5px #000;
    color: #fff;
    left: 45%;
    top: 25%;
}

.alerta.negacao {
    background-color: rgba(157, 71, 26, 0.8);
}

.dialog-header {
    padding: 0 .4em;
}

input.submit {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 50%;
    margin-left: -26px;
}

input.submit:hover {
    background-image: -webkit-linear-gradient(#fff, #dedede);
    box-shadow: 0 1px 0 rgba(255, 0, 0, 0.08);
}

.input2.submit {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}

.input2.submit:hover {
    background-image: -webkit-linear-gradient(#fff, #dedede);
    box-shadow: 0 1px 0 rgba(255, 0, 0, 0.08);
}


a.link {
    color: #444;
    transition-duration: 1s;
    transition-property: all;
    text-decoration: none;
    text-shadow: 1px 1px #fff;
}

a.link:hover {
    color: #00f;
    text-shadow: 1px 1px #fff;
}

/*Jogo*/
#conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapa_construtor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapa_fundo {
    /*background: radial-gradient(rgba(19, 63, 128, 0.8), rgba(19, 63, 128, 0.8)), url('../imagens/overview/water.gif');*/
    background: url('../map/water.png');
    background-repeat: repeat;
    width: 101000px;
    height: 60500px;
}

.minimap {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 4em;
    margin: 1em;
    background: linear-gradient(to bottom, rgba(0, 10, 43, 0.8), rgba(0, 15, 41, 0.5)), url('../imagens/bg.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white, inset 0 0 10px rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    transition-duration: .2s;
    transition-property: all;
    top: 0;
}

.minimap:hover {
    opacity: 1;
}

#posicao-map {
    position: absolute;
    width: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(108, 108, 108, 0.5));
    box-shadow: inset 0 0 10px -2px #000;
    border-radius: 5px;
}

#posicao-map input {
    background: transparent;
    border: 0;
    color: #fff;
    width: 38px;
    font-size: 11px;
    outline: none;
}

/*Inicio do layout dos recursos*/

#recursos {
    position: absolute;
    width: 378px;
    height: 54px;
    top: 0;
    right: 0;
    background: url('../imagens/window-bg2.png');
    margin-right: 1em;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 0 0 5px 5px;
}

.recursos_painel {
    position: relative;
    float: left;
    border: 1px transparent solid;
    width: 48px;
    height: 48px;
    margin: .2em;
    color: white;
    font-size: 10px;
}

.recursos_valor {
    position: absolute;
    left: 4px;
    bottom: 4px;
    text-align: center;
    width: 42px;
    height: 12px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px #ccc, inset 0 0 10px #000;
    border-radius: 1em;
}

.recursos_tooltip {
    color: #fff;
}

.dinheiro_img {
    background: url('../imagens/recursos/dinheiro.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.alimento_img {
    background: url('../imagens/recursos/alimento.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.metal_img {
    background: url('../imagens/recursos/metal.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.petroleo_img {
    background: url('../imagens/recursos/petroleo.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.ouro_img {
    background: url('../imagens/recursos/ouro.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.energia_img {
    background: url('../imagens/recursos/energia.png') no-repeat center;
    width: 48px;
    height: 48px;
    top: -2px;
    background-size: 40px;
    position: relative;
}

.populacao_img {
    background: url('../imagens/recursos/populacao.png') no-repeat center;
    width: 48px;
    height: 48px;
    background-size: 38px;
    top: -2px;
    position: relative;
}

/*final do layout dos recursos*/

#sidebar {
    position: absolute;
    width: 65px;
    height: 300px;
    top: 100px;
    right: -60px;
    background: url('../imagens/window-bg2.png');
    transition-duration: .5s;
    transition-property: right;
    border-radius: 2px 0 0 2px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    padding: 5px;
}

#sidebar:hover {
    right: -2px;
}

#sidebar > h3 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
    text-shadow: 0 1px 1px #ddd;
}

/*Layout Chat*/

.chat {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 15px;
    left: 15px;
    background-image: url(../imagens/coh.png), url(../imagens/window-bg2.png);
    background-position: center;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
}

.chatlist {
    color: #fff;
    text-shadow: 1px 1px #444;
    font-size: 12px;
    padding-left: .5em;
}

#chat_msgs {
    height: 158px;
}

.chat_entrada {
    position: absolute;
    bottom: 0;
}

.chat_texto {
    border: 0;
    background-color: rgba(0,0,0,.2);
    width: 232px;
    margin-left: 0.3em;
    margin-right: 0.6em;
    color: #fff;
    text-shadow: 1px 1px#444;
}

.chat_botao {
    font-weight: 100 !important;
    border-radius: 5px;
    opacity: .5;
}

.chat_botao:hover {
    opacity: 1;
}

#chat_header {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 1px;
    margin-bottom: 0;
    cursor: default;
}

/* Final Layout Chat */

/* Layout Contrucoes*/

.construcoes_info {
    width: 600px;
}

.construcao_img {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px -2px #000;
    background-color: #3C788A;
    background-size: 150px 150px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position-y: center;
}

.construcao_opcoes {
    padding-left: 4px;
    width: 442px;
    min-height: 150px;
    display: inline-block;
    vertical-align: top;
}

.construcao_titulo {
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

.construcao_titulo:after {
    margin-bottom: 4px;
}

.construcao_descricao {
    width: 580px;
    height: 200px;
    margin-top: 4px;
    background-color: rgba(31, 30, 28, 0.8);
    color: #FFF;
    padding: 10px;
    font-size: 13px;
}

.construcao_descricao .construcao_titulo {
    color: #FFF;
    font-style: italic;
    text-align: center;
}

.construcao_desc_cont {
    padding: 0 .5em 0 .5em;
}

.construcao_prp_tudo {
    padding: 2px;
    position: relative;
    height: 54px;
    margin-top: 20px;
}

.construcao_propriedades {
    display: table-cell;
    width: 240px;
    position: relative;
}

.construcao_prop_level {
    font-weight: bold;
}

.construcao_prp_lvl {
    text-align: center;
}

.construcao_prp_tudo button {
    width: 38px;
    height: 38px;
    position: absolute;
    border-radius: 50%;
    background-color: #C22525;
    top: -4px;
    right: 8px;
    transition: opacity .5s;
    cursor: pointer;
}

button.melhoria {
    background-color: #00B8FF;
}

button.melhoria_nao {
    background-color: #A34F4F;
}

button.melhoria_canc {
    background-color: #9CA34F;
}

button.destruir {
    background-color: #C22525;
}

button.melhoria i, button.melhoria_nao i, button.melhoria_canc i {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-image: url('../imagens/icones/melhoria.png');
    background-size: 40px;
    cursor: pointer;
}

button.destruir i {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-image: url('../imagens/icones/melhoria.png');
    background-size: 40px;
}

button.melhoria:hover, button.melhoria_nao:hover, button.melhoria_canc:hover, button.destruir:hover {
    opacity: .8;
}

/* Final Layout Construcoes */

/*Tela de Administrador*/

#unidade_img {
    position: relative;
    width: 38px;
    height: 38px;
    opacity: 0;
}

.upload_unidade {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px #000 solid;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

/*fim layout tela*/

#chat_botao {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 100;
    transition: background-color .5s;
}

#chat_botao:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #00E0FF;
}

.text_verde {
    color: #0f0;
}

.text_azul {
    color: #00E0FF;
}

/* Menu */
.mainmenu {
    position: absolute;
    height: 48px;
    bottom: 0;
    right: 0;
    background: url('../imagens/window-bg2.png');
    margin-bottom: 15px;
    border-radius: .5em 0 0 .5em;
    box-shadow: 2px 2px 10px;
    z-index: 10;
}

.mainmenu > div {
    background-image: url(../imagens/menu-bg.png);
    width: 48px;
    height: 48px;
    float: left;
}

.menu_icon {
    background-image: url(../imagens/menu.png);
    width: 48px;
    height: 48px;
}

.menu_icon:hover {
    opacity: 1;
}

.map_icon {
    background-position: 0 0;
}

.map_icon:hover {
    background-position: 0 48px;
}

.city_icon {
    background-position: -384px 0;
}

.city_icon:hover {
    background-position: -384px 48px;
}

.mensagens_icon {
    background-position: -48px 0;
}

.mensagens_icon:hover {
    background-position: -48px 48px;
}

.negoc_icon {
    background-position: -96px 0;
}

.negoc_icon:hover {
    background-position: -96px 48px;
}

.alianca_icon {
    background-position: -144px 0;
}

.alianca_icon:hover {
    background-position: -144px 48px;
}

.estatistica_icon {
    background-position: -192px 0;
}

.estatistica_icon:hover {
    background-position: -192px 48px;
}

.config_icon {
    background-position: -240px 0;
}

.config_icon:hover {
    background-position: -240px 48px;
}

.adm_icon {
    background-position: -288px 0;
}

.adm_icon:hover {
    background-position: -288px 48px;
}

.exit_icon {
    background-position: -336px 0;
}

.exit_icon:hover {
    background-position: -336px 48px;
}

#menu_acao {
    float: left;
    background: linear-gradient(to bottom, #D8D8D8, #FFF,#ADADAD);
    border-radius: .5em 0 0 .5em;
    height: 48px;
    width: 5px;
}

.abrir_geral {
    display: block;
}

/*Tela Overview*/

#overview_mapa {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: black;
}

.overview_mask {
    position: absolute;
    width: 2560px;
    height: 1280px;
    left: 0;
    top: 0;
}

.ov_bloco {
    position: absolute;
    width: 128px;
    height: 64px;
}

.ov_bloco_bloq {
    position: absolute;
    width: 128px;
    height: 64px;
}

.ov_item .tempo {
    position: relative;
    top: 60px;
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    margin: 0 auto;
    padding: .5em;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: inset 0 0 10px #000, 0 0 10px #000;
    color: #00FF0A;
    text-align: center;
    text-shadow: 0 0 10px #00F5FF;
}

#overview_menu {
    position: fixed;
    width: 800px;
    height: 54px;
    top: 0;
    left: 50px;
    background: url('../imagens/bg.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 0 0 5px 5px;
}

.ov_side_item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 5px;
}

.ov_item {
    width: 100px;
    height: 100px;
    top: -46px;
    left: 14px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: absolute;
    text-decoration: none;
}

#opcoes_unidades {
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 80px;
    bottom: 0;
    left: 35%;
    border-left: 2px;
    background: url('../imagens/bg.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px #ccc;
    border-radius: .5em .5em 0 0;
}

.opcoes_unidades_img {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px #000 solid;
    box-shadow: inset 0 0 10px #000;
    display: table-cell;
}

.opcoes_unidades_lateral {
    display: table-cell;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px rgb(48, 46, 46);
    padding-left: 20px;
}

.opcoes_unidades_lateral > *:not(.opcoes_unidades_titulo) {
    color: #aaa;
}

.opcoes_unidades_titulo {
    width: 290px;
    border-bottom: 1px #000 solid;
}

/*Final tela*/

/*telas*/
div[class*="col"] {
    float: left;
}

div.col1{
    width: 200px;
}

/*missao ataque*/
#Missoes .unidade {
    float: left;
}

div.ataque_info {
    position: relative;
    width: 200px;
    height: 240px;
    float: left;
    background: url(../imagens/expedicao/ataque.png) no-repeat;
}

div.ataque_info div.tempo_restante {
    position: absolute;
    left: 55px;
    top: 135px;
    font-size: 22px;
    color: rgba(11, 178, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.ataque_info div.tempo_chegada {
    position: absolute;
    left: 88px;
    top: 160px;
    font-size: 16px;
    color: rgba(11, 178, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.ataque_info h2 {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 20px;
    color: rgb(147, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.ataque_info h1 {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 30px;
    color: rgb(207, 166, 7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.ataque_info button {
    position: absolute;
    bottom: 0px;
    left: 60px;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 2px #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background: rgba(134, 25, 25, 1);
    box-shadow: 0 1px 1px #000;
    text-transform: uppercase;
    outline: none;
}

div.ataque_info button:hover {
    box-shadow: 0 1px 1px #000, 0 1px 5px #AA8E00;
}

div.ataque_info button:active {
    box-shadow: 0 -1px 1px #000;
}

div.unidade {
    position: relative;
    margin: 1px;
    background: #82949B;
    border-radius: 2px;
    width: 60px;
    box-shadow: 0px 1px 5px -2px #000;
}

div.unidade h1 {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

div.unidade img {
    width: 50px;
}

div.unidade .quantidade {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

div.unidade .perdas {
    position: absolute;
    bottom: 20px;
    right: 5px;
    text-align: right;
    color: #f00;
    text-shadow: 0 1px 1px #B20606;
}

div.unidade input {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 1px #000;
    text-align: center;
    outline: none;
}

div.unidade input.cor1 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

div.unidade input.cor2 {
    background: rgba(140, 0, 0, 0.5);
    color: #000;
}

/*Todas as telas*/
.usuario {
    font-style: italic;
    color: rgb(0, 61, 255);
}

.alianca {
    font-style: italic;
    color: rgb(0, 61, 255);
}

.horario {
    font-style: italic;
    color: rgb(255, 77, 0);
}

.paginacao {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    margin-top: 2px;
    padding: 2px;
}

.paginacao a {
    text-decoration: none;
    font-style: italic;
    transition: color .2s;
    padding: 0 5px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.paginacao a:hover {
    color: #0BBA92;
    text-shadow: 0 0 5px #0BBA92;
}

.paginacao a.ativo {
    color: #000;
    background: #D0D0D0;
    border-radius: 2px;
}

.flex {
    display: flex;
}

hr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #eee;
}

.bold {
    font-weight: bold;
}

.select {
    display: inline-block;
    position: absolute;
    right: 0;
}

.select select {
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    border: 0;
    font-size: 10px;
    outline: none;
}

.botao_excluir {
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    color: #F00;
    text-shadow: 0 0 6px #F00;
    border-radius: 50%;
    transition: all .2s;
    outline: none;
}

.botao_excluir:hover {
    text-shadow: 0 0 2px #F00;
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.botao_mensagem {
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    color: #F00;
    text-shadow: 0 0 6px #F00;
    border-radius: 50%;
    transition: all .2s;
    outline: none;
}

.botao_mensagem:hover {
    text-shadow: 0 0 2px #F00;
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.opacity0 {
    opacity: 0 !important;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.bloqueado {
    color: #F00;
}

a.cidade-atacante, .cidade-atacante {
    color: #3AA529;
}

a.cidade-defensor, .cidade-defensor {
    color: #F35523;
}

a.atacante, .atacante {
    color: #22648C;
}

a.defensor, .defensor {
    color: #7A8C22;
}

span i {
    margin-right: 2px;
}

/*lista de pesquisas*/

ul.pesquisas {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.pesquisas li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
}

ul.pesquisas.links li {
    cursor: pointer;
}

ul.pesquisas li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

ul.pesquisas li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.pesquisas li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.pesquisas li i.pesquisando {
    color: #ddd;
}

ul.pesquisas li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    text-shadow: 0 1px 1px #000;
}

ul.pesquisas li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #3D7788;
}

/*lista de construcoes*/

ul.construcoes {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.construcoes li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
}

ul.construcoes.links li {
    cursor: pointer;
}

ul.construcoes li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

ul.construcoes li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.construcoes li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.construcoes li i.construindo {
    color: #ddd;
}

ul.construcoes li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    text-shadow: 0 1px 1px #000;
}

ul.construcoes li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #3D7788;
}

/*lista de unidades*/

ul.unidades {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.unidades:not(.unidades_recrutar) {
    display: inline-block;
    width: 384px;
}

ul.unidades li {
    position: relative;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
}

ul.unidades.links li {
    cursor: pointer;
}

ul.unidades li:not(.unidades_recrutamento) {
    float: left;
}

ul.unidades li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

ul.unidades li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.unidades li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.unidades li i.construindo {
    color: #ddd;
}

ul.unidades li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    text-shadow: 0 1px 1px #000;
}

ul.unidades li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #3D7788;
}

ul.unidades li input[type="text"] {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    border: 0;
    border-radius: 2px;
    background-color: #3D3D3D;
    box-shadow: 0 1px 1px #1A1A1A;
    color: #fff;
    text-align: center;
    outline: none;
}

/* Lista de forças */

ul.forcas {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.forcas li {
    float: left;
    padding: 5px;
}

/*lista de herois*/

ul.herois {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.herois li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
}

ul.herois.links li {
    cursor: pointer;
}

ul.herois li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

ul.herois li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.herois li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.herois li i.pesquisando {
    color: #ddd;
}

ul.herois li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    text-shadow: 0 1px 1px #000;
}

ul.herois li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #3D7788;
}

/*fim todas as telas*/

/*tela Mensagens*/

#Mensagens {
    width: 500px !important;
    height: 430px !important;
}

#Mensagens .paginacao {
    position: absolute;
    bottom: 2px;
    width: 494px;
    height: 14px;
}

#Mensagens > .titulo {
    font-weight: bold;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 4px 2px;
    text-align: center;
}

#Mensagens > .replicas {
    height: 250px;
}

#Mensagens > .replicas .dados {
    background: rgb(242, 241, 180);
    padding: 4px;
    margin: 2px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Mensagens > .replicas .dados .titulo {
    font-style: italic;
}

#Mensagens > .replicas .dados .texto {
    font-size: 14px;
    padding-left: 10px;
}

#Mensagens > .titulo {
    font-style: italic;
    font-weight: bold;
}

#Mensagens .novausuario {
    width: 478px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Mensagens .novausuario label {
    font-weight: bold;
    color: #00A6E8;
}

#Mensagens .novausuario input {
    border: 0;
    background: transparent;
    color: #fff;
    width: 400px;
    outline: none;
}

#Mensagens .novaassunto {
    width: 478px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Mensagens .novaassunto label {
    font-weight: bold;
    color: #FF6100;
}

#Mensagens .novaassunto input {
    border: 0;
    background: transparent;
    color: #fff;
    width: 400px;
    outline: none;
}

#Mensagens .novamensagem textarea {
    width: 478px;
    height: 50px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    resize: none;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    outline: none;
}

#Mensagens .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

#Mensagens .listar table {
    width: 500px;
    border-collapse: collapse;
}

#Mensagens .listar table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

#Mensagens .listar table > tbody > tr > td:nth-child(1) {
    width: 80px;
}

#Mensagens .listar table > tbody > tr > td:nth-child(3) {
    width: 14px;
}

#Mensagens .listar table > tbody > tr > td:nth-child(4) {
    width: 140px;
    text-align: right;
    padding-right: 5px;
}

#Mensagens .listar table > tbody > tr > td {
    height: 32px;
    padding: 2px;
}

#Mensagens .listar table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

#Mensagens .listar table > tbody > tr > td.texto a:hover {
    color: #2E5612;
}

#Mensagens .listar table > tbody > tr > td.replicas {
    text-align: center;
}

#Mensagens .listar table > tbody > tr:nth-child(odd) {
    background: #252525;
}

#Mensagens .listar table > tbody > tr:nth-child(even) {
    background: #2A2926;
}

/*fim tela mensagens*/

/*tela administrador*/

#Administrador {
    width: 400px !important;
    height: 430px !important;
}

#Administrador .spam {
    width: 378px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Administrador .spam label {
    font-weight: bold;
    color: #00A6D9;
}

#Administrador .spam input[type="text"] {
    width: 280px;
    border: 0;
    background: transparent;
    outline: none;
}

#Administrador .spam input[type="submit"] {
    float: right;
}

#Administrador .limite {
    width: 378px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Administrador .limite label {
    font-weight: bold;
    color: #FF6100;
}

#Administrador .limite input[type="text"] {
    width: 300px;
    border: 0;
    background: transparent;
    outline: none;
}

#Administrador .limite input[type="submit"] {
    float: right;
}

#Administrador .spamlist {
    height: 325px;
}

#Administrador .spamlist th {
    padding: 0 4px;
}

/*fim tela administrador*/

/*tela aliança*/

/*tabela*/
#Alianca {
    width: 400px !important;
    height: 430px !important;
}

#Alianca .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

#Alianca table {
    border-collapse: collapse;
}

#Alianca table.membros {
    width: 398px;
}

#Alianca button {
    padding: 0;
    margin: 0 2px;
    box-shadow: none;
    background-color: transparent;
}

#Alianca table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

#Alianca table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

#Alianca table > thead > tr > th {
    text-align: left;
}

#Alianca table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

#Alianca table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

#Alianca table > tbody > tr > td.texto a:hover {
    color: #2E5612;
}

#Alianca table > tbody > tr > td.replicas {
    text-align: center;
}

#Alianca .titulo {
    width: 378px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border-radius: 2px;
}

#Alianca .titulo span {
    color: #fff;
    text-shadow: 1px 2px 1px #000;
}

#Alianca .titulo label {
    color: #00A6D9;
}

#Alianca .titulo span {
    font-size: 18px;
    font-style: italic;
}

#Alianca .titulo input {
    width: 300px;
    border: 0;
    background: transparent;
    color: #fff;
    outline: none;
}

#Alianca .descricao {
    width: 248px;
    height: 370px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    font-size: 14px;
    font-style: italic;
}

#Alianca .rank {
    border: 1px solid #1f1e1c;
    margin-left: 5px;
    width: 122px;
    height: 380px;
}

#Alianca .rank table {
    width: 122px;
}

#Alianca .listar table > thead > tr > th.opcoes {
    text-align: center;
}


#Alianca .rank table > tbody > tr > td:nth-child(1) {
    width: 35px;
}

#Alianca div.opcoes {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    margin-top: 2px;
    padding: 2px;
    position: absolute;
    bottom: 2px;
    width: 394px;
    height: 14px;
}

#Alianca .novousuario {
    width: 378px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Alianca .novousuario label {
    font-weight: bold;
    color: #00A6E8;
}

#Alianca .novousuario input {
    border: 0;
    background: transparent;
    width: 300px;
    outline: none;
}

#Alianca .opcoes_propriedades {
    height: 360px;
}

#Alianca .propriedades {
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    padding: 2px 0;
    border-radius: 2px;
}

#Alianca p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

#Alianca .propriedades div {
    padding: 5px 10px;
}

#Alianca .propriedades > .recrutamento label {
    color: #FF4D00;
}

#Alianca .propriedades > .recrutamento input {
    vertical-align: bottom;
}

#Alianca .propriedades > .abandonar label {
    color: #F00;
}

#Alianca .propriedades > .abandonar button {
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 1px #DADADA;
    outline: none;
}

#Alianca .propriedades > .transferir label {
    color: #30A6C8;
}

#Alianca .propriedades > .transferir select {
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 1px #DADADA;
    outline: none;
}

#Alianca .propriedades > .excluir {
    border-radius: 5px;
    margin: 5px;
    background: #772A2A;
}

#Alianca .propriedades > .excluir label {
    color: #f00;
}

#Alianca .propriedades > .excluir button {
    border: 0;
    border-radius: 10px;
    background: #000;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
    padding: 0 5px;
}

#Alianca .propriedades textarea {
    border: 0;
    padding: 5px;
    width: 388px;
    background: transparent;
    outline: none;
    resize: none;
    font-size: 14px;
    font-style: italic;
}

#Alianca .propriedades textarea[name="descricao"] {
    height: 190px;
}

#Alianca .propriedades textarea[name="descricao_interna"] {
    height: 140px;
}

/*fim tela aliança*/

/*tela forum aliança*/

#Forum_Alianca {
    width: 600px !important;
    height: 430px !important;
}

#Forum_Alianca .paginacao {
    position: absolute;
    bottom: 2px;
    width: 594px;
    height: 14px;
}

#Forum_Alianca .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

#Forum_Alianca table {
    width: 598px;
}

#Forum_Alianca table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

#Forum_Alianca table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

#Forum_Alianca table > thead > tr > th {
    text-align: left;
}

#Forum_Alianca table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

/*fim tela forum aliança*/

/*tela forum estatisticas*/

#Estatisticas {
    width: 400px !important;
    height: 430px !important;
}

#Estatisticas .paginacao {
    position: absolute;
    bottom: 2px;
    width: 394px;
    height: 14px;
}

#Estatisticas .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

#Estatisticas table {
    width: 398px;
}

#Estatisticas table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

#Estatisticas table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

#Estatisticas table > thead > tr > th {
    text-align: left;
}

#Estatisticas table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

#Estatisticas table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

/*fim tela estatisticas*/

/*Relatórios*/

.relatorio > .titulo {
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px 2px 0 0;
}

.relatorio > .titulo > * {
    display: inline-block;
}

.relatorio > .titulo h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}

.relatorio > .titulo h3 i {
    margin-right: 2px;
}

.relatorio > .titulo .horario {
    float: right;
}

.relatorio .visualizacao {
    display: inline-block;
    background-color: #F2F1B4;
    border: 1px solid #1f1e1c;
    border-radius: 0 0 2px 2px;
}

.relatorio .visualizacao > div {
    float: left;
}

.relatorio .visualizacao .propriedades {
    width: 160px;
    min-height: 136px;
    text-shadow: 0px 1px 2px #000;
    padding: 2px;
}

.relatorio .visualizacao .propriedades .pontos {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #306147;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .pontos > span {
    font-weight: bold;
    color: red;
}

.relatorio .visualizacao .propriedades .status {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #306147;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .atacante, .relatorio .visualizacao .defensor {
    width: 320px;
    padding: 2px;
}

.relatorio .visualizacao .atacante {
    border-radius: 0 0 0 2px;
}

.relatorio .visualizacao .defensor {
    border-radius: 0 0 2px 0;
}

.relatorio .visualizacao .atacante .unidade {
    float: left;
}

.relatorio .visualizacao .defensor .unidade {
    float: right;
}

.moral {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #216C76;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .moral span.positivo {
    color: #16B516;
}

.relatorio .visualizacao .propriedades .moral span.negativo {
    color: #F00;
}

.relatorio .visualizacao .propriedades .sorte {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #17571F;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .sorte span.positivo {
    color: #16B516;
}

.relatorio .visualizacao .propriedades .sorte span.negativo {
    color: #F00;
}

.relatorio .visualizacao .propriedades .recursos {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #29992E;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .recursos > * {
    margin: 2px;
}

.relatorio .visualizacao .propriedades .recursos h3 {
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    color: #5BE0FF;
}

.relatorio .visualizacao .propriedades .recursos p > span {
    font-weight: normal;
}

/*fim tela relatorios*/

/*tela usuario*/

#Usuario {
    width: 400px !important;
    height: 400px !important;
}

#Usuario .avatar {
    float: left;
}

#Usuario .avatar img {
    margin: 2px;
}

#Usuario .detalhes {
    display: table;
    float: left;
    width: 280px;
}

#Usuario .detalhes > * {
    margin: 2px;
}

#Usuario .detalhes > p {
    width: 100%;
    font-weight: bold;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px 6px;
    border-radius: 2px;
}

#Usuario .detalhes > p span {
    font-weight: normal;
}

#Usuario .descricao {
    clear: both;
    height: 180px;
    margin: 2px;
    padding: 5px 10px;
    background: #F2F1B4;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    font-size: 12px;
    font-style: italic;
}

#Usuario .links {

}

#Usuario .links > a {
    float: left;
    font-size: 60px;
    padding: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: color .2s;
    color: #333;
}

#Usuario .links > a.mensagem:hover {
    color: #D2D729;
}

#Usuario .links > a.rank:hover {
    color: #003DFF;
}

#Usuario .links > a.negociar:hover {
    color: #479D35;
}

#Usuario .links > a.denunciar:hover {
    color: #F35523;
}

#Usuario h3 {
    margin: 2px 0;
}

#Usuario .medalhas-todas {
    height: 380px;
}

#Usuario ul.medalhas {
    font-size: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
}

#Usuario ul.medalhas > li {
    float: left;
    list-style: none;
    padding: 10px;
}

#Usuario .cidades-todas {
    height: 380px;
}

#Usuario .cidades > p {
    float: left;
    font-weight: bold;
    background-color: #F2F1B4;
    border: 1px solid #1f1e1c;
    box-shadow: 0 1px #333;
    padding: 2px 6px;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    text-shadow: 0 1px 1px #1f1e1c;
}

#Usuario .cidades > p > a {
    text-decoration: none;
}

#Usuario .cidades > p > a:hover {
    color: #046207;
}

#Usuario .cidades > p.selecionada a {
    color: #002EA6;
}

#Usuario .avatar input[type="file"] {
    display: none;
}

#Usuario input {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-style: italic;
    outline: none;
}

#Usuario ul.opcoes {
    padding-left: 0;
    list-style: none;
    font-size: 0;
}

#Usuario .opcoes li {
    float: left;
    font-weight: bold;
    background-color: #F2F1B4;
    border: 1px solid #1f1e1c;
    box-shadow: 0 1px #333;
    padding: 2px 6px;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 1px 1px #1f1e1c;
}

#Usuario a.ferias {
    color: #002E89;
    text-decoration: none;
}

#Usuario a.deletar {
    color: #F35523;
    text-decoration: none;
}

#Usuario .bloqueado {
    opacity: .5;
}

/*fim tela usuario*/

/*tela laboratorio*/

#Laboratorio {
    position: relative;
    width: 600px !important;
    height: 300px !important;
}

#Laboratorio > div.lista {
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    width: 396px;
    height: 190px;
}

#Laboratorio > div.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 196px;
    height: 294px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
}

#Laboratorio > div.sidebar h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    margin-left: 10px;
}

#Laboratorio > div.sidebar > h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

#Laboratorio > div.sidebar > .detalhes {
    height: 160px;
}

#Laboratorio > div.sidebar > .detalhes img {
    float: left;
    padding: 2px;
}

#Laboratorio > div.sidebar > .detalhes p {
    font-size: 12px;
    margin: 0;
}

#Laboratorio > div.requisitos {
    position: absolute;
    bottom: 0;
    width: 392px;
    height: 100px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    margin-bottom: 6px;
    padding: 0 2px;
}

#Laboratorio > div.requisitos > h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 2px;
}

#Laboratorio > div.sidebar > .recursos h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

#Laboratorio p.pesquisar button {
    background-color: #00B8FF;
}

/*fim tela de laboratorio*/

/*tela barraca*/

#Barraca {
    width: 500px !important;
    height: 400px !important;
}

#Barraca .sobre_unidade {
    position: relative;
    width: 372px;
    height: 200px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
}

#Barraca h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

#Barraca .imagem {
    float: left;
    background-color: #3D7788;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px -2px #000;
    margin-right: 5px;
}

#Barraca .lista {
    clear: both;
}

#Barraca .recrutamento {
    position: absolute;
    top: 0;
    right: 0;
    width: 83px;
    height: 100%;
    padding: 0 10px;
    border-left: 5px solid #3E798A;
}

#Barraca h3 {
    font-size: 12px;
}

#Barraca ul.unidades_recrutar {
    width: 64px;
    margin: 0 auto;
}

#Barraca div.recursos {
    clear: both;
    padding-top: 10px;
}

#Barraca .acoes {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0;
}

#Barraca .acoes div button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#Barraca .acoes input {
    background: none;
    border: 0;
    width: 20px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    vertical-align: bottom;
}

#Barraca button.recrutar {
    width: 82px;
    background-color: #00B8FF;
}

/*fim tela barraca*/

/*tela laboratorio*/

#Academia {
    position: relative;
    width: 600px !important;
    height: 300px !important;
}

#Academia > div.lista {
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    width: 396px;
    height: 190px;
}

#Academia > div.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 196px;
    height: 294px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
}

#Academia > div.sidebar h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    margin-left: 10px;
}

#Academia > div.sidebar > h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

#Academia > div.sidebar > .detalhes {
    height: 160px;
}

#Academia > div.sidebar > .detalhes img {
    float: left;
    padding: 2px;
}

#Academia > div.sidebar > .detalhes p {
    font-size: 12px;
    margin: 0;
}

#Academia > div.funcoes {
    position: absolute;
    bottom: 0;
    width: 392px;
    height: 100px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    margin-bottom: 6px;
    padding: 0 2px;
}

#Academia > div.funcoes > h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 2px;
}

#Academia > div.sidebar > .recursos h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

#Academia p.pesquisar button {
    background-color: #00B8FF;
}

/*fim tela de laboratorio*/

p.pesquisar {
    clear: both;
    text-align: center;
}

ul.recursos {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
    cursor: default;
}

ul.recursos > li {
    position: relative;
    float: left;
    width: 64px;
    padding: 0 5px;
    padding-left: 25px;
    margin: 2px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px -2px #000;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    line-height: 18px;
    height: 18px;
}

ul.recursos li::before {
    position: absolute;
    content: "";
    left: 5px;
    width: 20px;
    height: 20px;
}

ul.recursos li.dinheiro {
    background-color: #046507;
}

ul.recursos li.dinheiro::before {
    background: url('../imagens/recursos/dinheiro.png');
    background-size: 20px;
}

ul.recursos li.alimento {
    background-color: #600;
}

ul.recursos li.alimento::before {
    background: url('../imagens/recursos/alimento.png');
    background-size: 20px;
}

ul.recursos li.metal {
    background-color: #4F989D;
}

ul.recursos li.metal::before {
    background: url('../imagens/recursos/metal.png');
    background-size: 20px;
}

ul.recursos li.petroleo {
    background-color: #3F3F3F;
}

ul.recursos li.petroleo::before {
    background: url('../imagens/recursos/petroleo.png');
    background-size: 20px;
}

ul.recursos li.populacao {
    background-color: #004C7C;
}

ul.recursos li.populacao::before {
    background: url('../imagens/recursos/populacao.png');
    background-size: 20px;
}

/*fim tela laboratorio*/

/*myscroll*/
.myscroll .scrollbar {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #000000;
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.myscroll .scrollbarbkg {
    position: absolute;
    background-color: #222;
    width: 8px;
    right: 0;
}

.textcomplete {
    position: absolute;
    max-width: 80px;
    list-style: none;
    padding: 2px 10px;
    border: 1px solid #D4D5D7;
    background: #FFF;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    transition: opacity .2s;
}

.textcomplete li {
    transition: all .2s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textcomplete li:hover {
    color: #00f;
}

.textcomplete .arrow {
    background: url(../imagens/arrow.png);
    width: 14px;
    height: 9px;
    margin-left: 18px;
    margin-top: -10px;
}

.mensagem-editor {
    border-radius: 2px;
}

.mensagem_espelho {
    position: relative;
    height: 300px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #1F1E1C;
    color: #000;
    overflow: auto;
    outline: none;
}

.mensagem-acoes {
    background-color: rgba(31, 30, 28, 0.8);
}

.mensagem-acoes button {
    margin: 0;
    padding: 2px 5px;
}

.mensagem-acoes-separador {
    display: inline-block;
    padding: 5px;
}







table {
    border-collapse: collapse;
}

table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

table th {
    padding: 0 2px;
}

table > tbody > tr > td:nth-child(1) {
    width: 80px;
}

table > tbody > tr > td:nth-child(3) {
    width: 14px;
}

table > tbody > tr > td:nth-child(4) {
    width: 140px;
    text-align: right;
    padding-right: 5px;
}

table > tbody > tr > td {
    padding: 2px;
}

table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
}

table > tbody > tr > td.replicas {
    text-align: center;
}

table > tbody > tr:nth-child(odd) {
    background: #252525;
}

table > tbody > tr:nth-child(even) {
    background: #2A2926;
}