@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    cursor: default;
    font-family: roboto;
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    outline: none;
}

/*Jquery Alterações*/

.ui-widget {
    font-family: roboto;
}
.ui-widget input {
    font-family: roboto;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: roboto;
}

.ui-widget-content a {
    color: inherit;
}

body .ui-tooltip {
    border: 1px solid #333;
    border-radius: 0;
    background: url(../imagens/window-bg2.png);
    color: #fff;
    font-size: 12px;
    box-shadow: 0px 0px 10px #000;
    padding: 2px;
}

.ui-dialog {
    padding: 0;
    background: url(../imagens/window-bg.png);
    -webkit-box-shadow: 0 0 1px #799a9f, inset 0 0 2px #7c9fa5;
    box-shadow: 0 0 1px #799a9f, inset 0 0 2px #7c9fa5;
    border-radius: 0;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
    margin: 5px;
    background: url(../imagens/coh.png) no-repeat, url(../imagens/window-bg2.png);
    background-position: center;
    color: #fff;
    font-size: 12px;
    display: block;
    min-height: 400px;
}

.ui-dialog .ui-dialog-content table {
    color: #fff;
    font-size: 12px;
}

.ui-dialog-title {
    font-size: 12px;
}

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget-content {
    border: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .2em .2em;
    position: relative;
    margin: 1px;
}

.ui-dialog .ui-dialog-title {
    margin: 0;
}

.ui-widget-header {
    border: 0;
    background: transparent;
}

.ui-widget-header .ui-state-default {
    border: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 15px;
    margin: 2px;
    padding: 1px;
    height: 14px;
}

.ui-button-icon-only .ui-icon {
    margin-left: -9px;
}

div.dialog-header {
    padding: 0;
    margin: 0;
    display: flex;
}

.dialog-header > div {
    display: inline-block;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
}

div.dialog-header-title {
    font-size: 12px;
    font-style: italic;
    color: #FFF;
    padding: 0 8px;
    text-shadow: 0 1px #000;
}

div.dialog-tabs {
    height: 14px;
    overflow: hidden;
}

div.dialog-tabs-controls {
    position: absolute;
    right: 25px;
    top: 4px;
}

span.dialog-tabs-mask {
    position: absolute;
    width: 100px;
    height: 21px;
    right: 0;
    top: 0;
    background: url(../imagens/window-bg-mask.png);
    border-radius: 0 4px 4px 0;
}

div.dialog-tabs-controls a {
    margin: 0 5px;
    cursor: pointer;
}

ul.dialog-tabs {
    padding: 0;
    margin: 0;
    margin-right: 24px;
    font-size: 0;
}

ul.dialog-tabs li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    padding: 0 5px;
}

ul.dialog-tabs li a {
    text-decoration: none;
    color: white;
    transition: color .2s;
}

ul.dialog-tabs li a:hover {
    color: #ff9800;
}

ul.dialog-tabs li a:active, ul.dialog-tabs li a.ativo {
    color: #FFDB24;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 12px;
}

/*Final Jquery Alterações*/

/* LOGIN */

body.login {
    overflow: inherit;
    background: url(../imagens/background_home.jpg) no-repeat, url('../map/water_desfoque.png');
}

form.login {
    display: block;
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 2px;
    background: url(../imagens/window-bg2.png);
    background-position: center;
    color: #fff;
    font-size: 12px;
}

.coh-title {
    font-size: 32px;
    color: #fff;
    margin: 20px 0;
}

.coh-detalhes {
    display: block;
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 2px;
    background: rgba(0,0,0,0.8);
    background-position: center;
    color: #fff;
    font-size: 14px;
}

.coh-detalhes h3 {
    font-style: italic;
}

.coh-detalhes p {
    margin-top: 10px;
}

.img-thumb {
    margin: 10px;
}

.valid-errors {
    color: #FF5722;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 14px;
    border: 1px solid;
    padding: 2px;
    margin: 10px 0;
}

/* fim LOGIN */

/* PADROES */

.loading-initial {
    background: #1c1c1c;
    color: #FFFFED;
    position: relative;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.loading-initial span {
    margin: 0 auto;
    text-align: center;
}

.selec {
    border: 1px solid #FFC107 !important;
}

.clicked {
    cursor: pointer;
}

.red {
    color: rgb(255, 77, 0);
}

.content {
    background-color: rgba(31, 30, 28, 0.8);
}

.btn {
    border: 0;
    background-color: #676864;
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    transition: opacity .5s;
    cursor: pointer;
    color: #FFFFED;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    font-weight: 900;
}

.btn[disabled] {
    opacity: .5;
}

.btn.btn-sm {
    font-size: 12px;
    margin: 0;
    padding: 4px;
    font-weight: 300;
}

.btn.btn-black {
    border-radius: 10px;
    background: #000;
    padding: 2px 5px;
}

.btn:hover {
    text-shadow: 0 0 2px #000;
}

.btn:hover i {
    text-shadow: 0 0 2px #000;
}

.btn-rename {
    background-color: transparent;
    box-shadow: none;
    margin: 2px 0;
}

.select {
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    border: 0;
    font-size: 10px;
    outline: none;
}

.btn-table {
    cursor: pointer;
    border: 0;
    color: #fff;
}

[coh-scroll] {
    overflow: auto;
}

.listar {
    margin: 5px 0;
}

.listar table {
    width: 100%;
    border-collapse: collapse;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.input-container {
    position: relative;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border-radius: 2px;
}

.input-container i {
    padding-right: 5px;
}

.input-container input {
    background-color: transparent;
    border: 0;
    padding: 0 5px;
    color: #fff;
}

.input-container small {
    position: absolute;
    top: 2px;
    right: 2px;
    color: #FF5722;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 14px;
    border: 1px solid;
    padding: 2px;
    -webkit-animation: anima-input-container-invalid .2s ease;
    animation: anima-input-container-invalid .2s ease;
}

@keyframes anima-input-container-invalid {
    0% {
        right: -55px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid rgba(31, 30, 28, 0.8);
    padding: 4px;
    margin-top: 4px;
}

/* FIM PADROES */

/* MAPA */
.coordinates {
    position: absolute;
    top: 60px;
    left: 1em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    font-style: italic;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
}

.coordinates .positions {
    margin: 0 10px;
    padding: 2px 6px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 2px;
    color: #546E7A;
}

.coordinates input {
    width: 50px;
    color: #fff;
    text-align: center;
    border: 0;
    background: transparent;
}

.to_home button {
    width: 18px;
    height: 18px;
    background: url(../map/home.gif) no-repeat 2px 2px;
    border: 0;
    border-radius: 3px;
    color: #4CAF50;
    background-color: #263238;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    cursor: pointer;
}

.map .ilha {
    position: absolute;
    width: 800px;
    height: 373px;
}

.map .cidade {
    position: absolute;
    cursor: pointer;
}

.map [class^=modelo] {
    backgroundRepeat: no-repeat;
    width: 40px;
    height: 40px;
}

.map .modelo0 {
    background: url(../map/territory.png);
    background-position: -41px 0px;
}

.map .modelo1 {
    background: url(../map/territory.png);
    background-position: 0px 0px;
}

.map .bandeira_cor {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 14px;
}

.map .bandeira {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 14px;
    height: 20px;
}

.map .home {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    background: url(../map/home.gif) no-repeat;
}

.map .rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 14px;
}
/* fim MAPA */

#header {
    height: 80px;
    font-size: 70px;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
}

#login {
    position: relative;
    width: 215px;
    height: 80px;
    margin: .5em;
    padding: .5em;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
    border-radius: .5em;
}

#registro {
    position: relative;
    width: 235px;
    height: 150px;
    margin: .5em;
    padding: .5em;
    padding-left: .5em;
    color: #444;
    -webkit-user-select: none;
    background-image: linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 2px 2px 2px rgba(185, 185, 185, 0.8);
    border-radius: .5em;
}

@keyframes alerta-anima {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes alerta-anima {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes alerta-anima {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes alerta-anima {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.alerta {
    position: absolute;
    z-index: 1000;
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    text-shadow: 1px 1px 10px #000;
    font-size: 22px;
    font-weight: 900;
    -webkit-animation: alerta-anima .3s ease-in;
    -o-animation: alerta-anima .3s ease-in;
    animation: alerta-anima .3s ease-in;
}

.alerta.negacao {
    color: rgba(157, 71, 26);
}

.dialog-header {
    padding: 0 .4em;
}

input.submit {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 50%;
    margin-left: -26px;
}

input.submit:hover {
    background-image: -webkit-linear-gradient(#fff, #dedede);
    box-shadow: 0 1px 0 rgba(255, 0, 0, 0.08);
}

.input2.submit {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #dedede);
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}

.input2.submit:hover {
    background-image: -webkit-linear-gradient(#fff, #dedede);
    box-shadow: 0 1px 0 rgba(255, 0, 0, 0.08);
}


a.link {
    color: #444;
    transition-duration: 1s;
    transition-property: all;
    text-decoration: none;
    text-shadow: 1px 1px #fff;
}

a {
    cursor: pointer;
}

a.link:hover {
    color: #00f;
    text-shadow: 1px 1px #fff;
}

/*Jogo*/
coh-game {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

coh-mapa {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../map/water.png');
    background-repeat: repeat;
}

#mapa_fundo {
    /*background: radial-gradient(rgba(19, 63, 128, 0.8), rgba(19, 63, 128, 0.8)), url('../imagens/overview/water.gif');*/
    background: url('../map/water.png');
    background-repeat: repeat;
    width: 101000px;
    height: 60500px;
}

.minimap {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 4em;
    margin: 1em;
    background: linear-gradient(to bottom, rgba(0, 10, 43, 0.8), rgba(0, 15, 41, 0.5)), url('../imagens/bg.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white, inset 0 0 10px rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    transition-duration: .2s;
    transition-property: all;
    top: 0;
}

.minimap:hover {
    opacity: 1;
}

#posicao-map {
    position: absolute;
    width: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(108, 108, 108, 0.5));
    box-shadow: inset 0 0 10px -2px #000;
    border-radius: 5px;
}

#posicao-map input {
    background: transparent;
    border: 0;
    color: #fff;
    width: 38px;
    font-size: 11px;
    outline: none;
}

.menucity {
    position: absolute;
    left: -55px;
    top: 30px;
    display: table;
    -webkit-animation-name: menucity;
    -moz-animation-name: menucity;
    -o-animation-name: menucity;
    animation-name: menucity;
    animation-duration: .5s;
    z-index: 1;
}

.menucity a {
    display: table-cell;
}

.menucity a:nth-child(2) img {
    transform: translateY(10px);
}

.menucity img {
    width: 50px;
    height: 50px;
    -webkit-animation-name: menucity_img;
    -moz-animation-name: menucity_img;
    -o-animation-name: menucity_img;
    animation-name: menucity_img;
    animation-duration: .5s;
}

.menucity.remove {
    -webkit-animation-name: menucity_rem;
    -moz-animation-name: menucity_rem;
    -o-animation-name: menucity_rem;
    animation-name: menucity_rem;
    animation-duration: .5s;

}

.menucity.remove img {
    -webkit-animation-name: menucity_img_rem;
    -moz-animation-name: menucity_img_rem;
    -o-animation-name: menucity_img_rem;
    animation-name: menucity_img_rem;
    animation-duration: .5s;
}

/* animações */
@keyframes menucity {
    0% {
        left: 20px;
        top: 15px;
    }

    100% {
        left: -55px;
        top: 30px;
    }
}

@keyframes menucity_img {
    0% {
        width: 5px;
        height: 5px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

@keyframes menucity_rem {
    0% {
        left: -55px;
        top: 30px;
    }

    100% {
        left: 20px;
        top: 15px;
    }
}

@keyframes menucity_img_rem {
    0% {
        width: 50px;
        height: 50px;
    }

    100% {
        width: 5px;
        height: 5px;
    }
}

@keyframes alerta {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

.alerta-anim1x {
    -webkit-animation-name: alerta;
    -moz-animation-name: alerta;
    -o-animation-name: alerta;
    animation-name: alerta;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
/* fim animações */

/*Inicio do layout dos recursos, cidade_ativa */

coh-recursos, coh-cidades {
    position: absolute;
    top: 0;
    background: url('../imagens/window-bg2.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 0 0 5px 5px;
}

coh-recursos {
    display: block;
    right: 0;
    margin-right: 1em;
}

.recursos_painel {
    position: relative;
    float: left;
    border: 1px transparent solid;
    width: 48px;
    height: 48px;
    margin: .2em;
    color: white;
    font-size: 10px;
}

.recursos_valor {
    position: absolute;
    bottom: 4px;
    text-align: center;
    width: 42px;
    height: 12px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px #ccc, inset 0 0 10px #000;
    border-radius: 1em;
}

.recursos_honra {
    width: 42px;
    height: 42px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px #ccc, inset 0 0 10px #000;
    border-radius: 50%;
}

.heroi_img {
    position: relative;
    z-index: 1;
    background-image: url(../imagens/unidades/1.png);
    -webkit-background-size: 42px;
    background-size: 42px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin: 0 0 10px 6px;
}

.cidade_tooltip {
    padding: 5px;
}

.cidade_tooltip h4 {
    color: #FFC107;
    margin-bottom: 5px;
}

.recursos_tooltip, .cidade_tooltip {
    color: #fff;
}

coh-cidades {
    width: 250px;
    left: 0;
    margin-left: 1em;
}

#cidade-preview {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#cidade-preview > * {
    margin: 8px;
}

#cidade-preview .icon {
    height: 40px;
    width: 40px;
    background: url("../map/territory.png") no-repeat scroll 0 0;
}

#cidade-atividade {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 5px -2px #000;
    color: #b80000;
    cursor: pointer;
    display: inline-table;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 0 2px;
    width: 40px;
}

#cidade-atual {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 5px -2px #000;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    text-align: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}

#cidade-atual span {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#cidade-atual input {
    width: 92px;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #607D8B;
    text-align: center;
    font-size: 12px;
    font-family: roboto;
}

#cidade-atividade i {
    display: table-cell;
    vertical-align: middle;
    opacity: 0.4;
}

#cidade-atividade.atividade i {
    -webkit-animation-name: alerta;
    -moz-animation-name: alerta;
    -o-animation-name: alerta;
    animation-name: alerta;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

#menu_atividade {
    position: absolute;
    z-index: 1;
    display: none;
    width: 360px;
    background: url('../imagens/window-bg2.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 5px;
    left: 190px;
    top: 8px;
}

#menu_atividade.ativo {
    display: block;
}

#menu_atividade ul {
    list-style: none;
}

#menu_atividade li {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    box-shadow: 0 0 5px -2px #000;
    margin: 5px;
}

#menu_atividade li > div {
    display: inline-block;
    vertical-align: middle;
}

#menu_atividade .ponto_a, #menu_atividade .ponto_b {
    display: inline-table;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

#menu_atividade .ponto_a i, #menu_atividade .ponto_b i {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 1px 2px #000;
}

#menu_atividade .ponto_a {
    color: #509d72;
}

#menu_atividade .ponto_b {
    color: #249d4c;
}

#menu_atividade .trajeto {
    width: 262px;
    position: relative;
}

#menu_atividade .atividade_tempo {
    color: #249d4c;
    text-shadow: 0 1px 2px;
    margin: 0 auto;
    text-align: center;
    width: 80px;
}

#menu_atividade .ponteiro {
    position: absolute;
    color: #3f719d;
    text-shadow: 0 1px 1px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

#menu_atividade .ponteiro.ataque {
    color: #b80000;
}

#menu_cidades {
    position: absolute;
    z-index: 2;
    width: 360px;
    height: 160px;
    top: -500px;
    left: 20px;
    opacity: 0;
    background: url('../imagens/window-bg2.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    border-radius: 5px;
    -webkit-transition: top 0.5s linear, opacity 0.5s linear;
    -moz-transition: top 0.5s linear, opacity 0.5s linear;
    -ms-transition: top 0.5s linear, opacity 0.5s linear;
    -o-transition: top 0.5s linear, opacity 0.5s linear;
    transition: top 0.5s linear, opacity 0.5s linear;
}

#menu_cidades.ativo {
    top: 25px;
    opacity: 1;
}

#menu_cidades li {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 12px;
    list-style: outside none none;
    margin: 7px 0 0 10px;
    padding: 0 4px;
    width: 70px;
}

#menu_cidades li .icon {
    background: rgba(0, 0, 0, 0) url("../map/territory.png") no-repeat scroll 0 0;
    height: 40px;
    width: 40px;
    margin: 7px auto;
}

/* notificações */

coh-notificacao {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: .5em;
}

coh-notificacao ul {
    list-style: none;
    max-height: 230px;
    overflow: hidden;
}

coh-notificacao li {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
}

coh-notificacao a {
    text-align: center;
    font-size: 36px;
    color: #ebebeb;
    text-shadow: 0 1px #000;
}

/* fim notificações */

.dinheiro_img {
    background: url('../imagens/recursos/dinheiro.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.alimento_img {
    background: url('../imagens/recursos/alimento.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.metal_img {
    background: url('../imagens/recursos/metal.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.petroleo_img {
    background: url('../imagens/recursos/petroleo.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.ouro_img {
    background: url('../imagens/recursos/ouro.png');
    width: 48px;
    height: 48px;
    background-size: 48px;
    top: 0px;
    position: relative;
}

.energia_img {
    background: url('../imagens/recursos/energia.png') no-repeat center;
    width: 48px;
    height: 48px;
    top: -2px;
    background-size: 40px;
    position: relative;
}

.populacao_img {
    background: url('../imagens/recursos/populacao.png') no-repeat center;
    width: 48px;
    height: 48px;
    background-size: 38px;
    top: -2px;
    position: relative;
}

/*final do layout dos recursos*/

coh-sidebar {
    display: block;
    position: absolute;
    width: 70px;
    height: 300px;
    top: 100px;
    right: -70px;
    background: url('../imagens/window-bg2.png');
    transition-duration: .5s;
    transition-property: right;
    border-radius: 2px 0 0 2px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    padding: 5px;
    text-align: center;
}

coh-sidebar:hover {
    right: -2px;
}

coh-sidebar h3 {
    margin: 0;
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
}

/*Layout Chat*/

.chat {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 15px;
    left: 15px;
    background-image: url(../imagens/coh.png), url(../imagens/window-bg2.png);
    background-position: center;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
}

.chatlist {
    color: #fff;
    text-shadow: 1px 1px #444;
    font-size: 12px;
    padding-left: .5em;
}

#chat_msgs {
    height: 158px;
}

.chat_entrada {
    position: absolute;
    bottom: 0;
}

.chat_texto {
    border: 0;
    background-color: rgba(0,0,0,.2);
    width: 232px;
    margin-left: 0.3em;
    margin-right: 0.6em;
    color: #fff;
    text-shadow: 1px 1px#444;
}

.chat_botao {
    font-weight: 100 !important;
    border-radius: 5px;
    opacity: .5;
}

.chat_botao:hover {
    opacity: 1;
}

#chat_header {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 1px;
    margin-bottom: 0;
    cursor: default;
}

/* Final Layout Chat */

/* Layout Contrucoes*/

.construcoes_info {
    width: 600px;
}

.construcao_img {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px -2px #000;
    background-color: #3C788A;
    background-size: 100px 100px;
    background-position: 25px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position-y: center;
}

.construcao_opcoes {
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid rgba(31, 30, 28, 0.8);
    padding-left: 5px;
    width: 440px;
    min-height: 150px;
    display: inline-block;
}

.construcao_titulo {
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}

.construcao_titulo:after {
    margin-bottom: 4px;
}

.construcao_descricao {
    height: 122px;
    margin-top: 4px;
    color: #FFF;
    font-size: 13px;
}

.construcao_descricao .construcao_titulo {
    color: #FFF;
    font-style: italic;
    text-align: center;
}

.construcao_desc_cont {
    padding: 0 .5em 0 .5em;
}

.construcao_prp_tudo {
    padding: 2px;
    margin-top: 20px;
}

.construcao_propriedades {
    display: table-cell;
    width: 240px;
    position: relative;
}

.construcao_prop_level {
    font-weight: bold;
}

.construcao_prp_lvl {
    text-align: center;
}

.construcao_prp_tudo button {
    width: 38px;
    height: 38px;
    position: absolute;
    border-radius: 50%;
    background-color: #C22525;
    top: -4px;
    right: 8px;
    transition: opacity .5s;
    cursor: pointer;
}

button.melhoria {
    background-color: #00B8FF;
}

button.melhoria_nao {
    background-color: #A34F4F;
}

button.melhoria_canc {
    background-color: #9CA34F;
}

button.destruir {
    background-color: #C22525;
}

button.melhoria i, button.melhoria_nao i, button.melhoria_canc i {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-image: url('../imagens/icones/melhoria.png');
    background-size: 40px;
    cursor: pointer;
}

button.destruir i {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: -4px;
    background-image: url('../imagens/icones/melhoria.png');
    background-size: 40px;
}

button.melhoria:hover, button.melhoria_nao:hover, button.melhoria_canc:hover, button.destruir:hover {
    opacity: .8;
}

/* Final Layout Construcoes */

/*Tela de Administrador*/

#unidade_img {
    position: relative;
    width: 38px;
    height: 38px;
    opacity: 0;
}

.upload_unidade {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px #000 solid;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

/*fim layout tela*/

#chat_botao {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 100;
    transition: background-color .5s;
}

#chat_botao:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #00E0FF;
}

.text_verde {
    color: #0f0;
}

.text_azul {
    color: #00E0FF;
}

/* Menu */
coh-menu {
    position: absolute;
    height: 48px;
    bottom: 0;
    right: 0;
    background: url('../imagens/window-bg2.png');
    margin-bottom: 15px;
    border-radius: .5em 0 0 .5em;
    box-shadow: 2px 2px 10px;
    z-index: 10;
}

coh-menu > div {
    background-image: url(../imagens/menu-bg.png);
    width: 48px;
    height: 48px;
    float: left;
}

.menu_icon {
    background-image: url(../imagens/menu.png);
    width: 48px;
    height: 48px;
}

.menu_icon:hover {
    opacity: 1;
}

.map_icon {
    background-position: 0 0;
}

.map_icon:hover {
    background-position: 0 48px;
}

.city_icon {
    background-position: -384px 0;
}

.city_icon:hover {
    background-position: -384px 48px;
}

.mensagens_icon {
    background-position: -48px 0;
}

.mensagens_icon:hover {
    background-position: -48px 48px;
}

.negoc_icon {
    background-position: -96px 0;
}

.negoc_icon:hover {
    background-position: -96px 48px;
}

.alianca_icon {
    background-position: -144px 0;
}

.alianca_icon:hover {
    background-position: -144px 48px;
}

.estatistica_icon {
    background-position: -192px 0;
}

.estatistica_icon:hover {
    background-position: -192px 48px;
}

.config_icon {
    background-position: -240px 0;
}

.config_icon:hover {
    background-position: -240px 48px;
}

.adm_icon {
    background-position: -288px 0;
}

.adm_icon:hover {
    background-position: -288px 48px;
}

.exit_icon {
    background-position: -336px 0;
}

.exit_icon:hover {
    background-position: -336px 48px;
}

#menu_acao {
    float: left;
    background: linear-gradient(to bottom, #D8D8D8, #FFF,#ADADAD);
    border-radius: .5em 0 0 .5em;
    height: 48px;
    width: 5px;
}

.abrir_geral {
    display: block;
}

/*Tela Overview*/

coh-overview {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: black;
}

.overview_mask {
    position: absolute;
    width: 2560px;
    height: 1280px;
    left: 0;
    top: 0;
}

.ov_bloco {
    position: absolute;
    width: 128px;
    height: 64px;
}

.ov_bloco_bloq {
    position: absolute;
    width: 128px;
    height: 64px;
}

.ov_item {
    width: 100px;
    height: 100px;
    top: -18px;
    left: 15px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: absolute;
    text-decoration: none;
}

.ov_item .timer {
    position: relative;
    top: 60px;
    background: rgba(0, 0, 0, 0.5);
    width: 60px;
    margin: 0 auto;
    padding: .5em;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: inset 0 0 10px #000, 0 0 10px #000;
    color: #00FF0A;
    text-align: center;
    text-shadow: 0 0 10px #00F5FF;
}

.ov_item .title {
    background: url('../imagens/window-bg2.png');
    border-radius: 2px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    margin: 0 auto;
    padding: 0 10px;
    display: table;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
}

#overview_menu {
    position: absolute;
    display: block;
    width: 75px;
    top: 100px;
    background: url('../imagens/window-bg2.png');
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 1px 10px #000, 0 1px 2px white;
    padding: 5px;
    text-align: center;
}

#overview_menu h3 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
    text-shadow: 0 1px 1px #ddd;
}

#overview_menu .construcoes {
    height: 300px;
}

.ov_side_item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 5px;
}

#opcoes_unidades {
    position: absolute;
    padding: 10px;
    width: 400px;
    height: 80px;
    bottom: 0;
    left: 35%;
    border-left: 2px;
    background: url('../imagens/bg.png');
    box-shadow: 1px 1px 10px #000, 0 1px 2px #ccc;
    border-radius: .5em .5em 0 0;
}

.opcoes_unidades_img {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px #000 solid;
    box-shadow: inset 0 0 10px #000;
    display: table-cell;
}

.opcoes_unidades_lateral {
    display: table-cell;
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px rgb(48, 46, 46);
    padding-left: 20px;
}

.opcoes_unidades_lateral > *:not(.opcoes_unidades_titulo) {
    color: #aaa;
}

.opcoes_unidades_titulo {
    width: 290px;
    border-bottom: 1px #000 solid;
}

/*Final tela*/

/*telas*/
[layout-flex="row"] {
    flex-direction: row;
    display: flex;
}

[layout-flex="column"] {
    flex-direction: column;
    display: flex;
}

[layout-wrap] {
    flex-wrap: wrap;
}

[flex="90"] {
    flex: 90%;
}

[flex="80"] {
    flex: 80%;
}

[flex="70"] {
    flex: 70%;
}

[flex="60"] {
    flex: 60%;
}

[flex="50"] {
    flex: 50%;
}

[flex="40"] {
    flex: 40%;
}

[flex="30"] {
    flex: 30%;
}

[flex="20"] {
    flex: 20%;
}

[flex="20"] {
    flex: 10%;
}

[flex=""] {
    flex: 1;
}

[flex-center] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: center;
}

[class*="col-"] {
    float: left;
}

[class*="col-"]:before {
    position: relative;
    content: ' ';
}

.col-1 {
    width: 200px;
}

.col-2 {
    width: 200px;
}

/*missões de expedição*/
coh-expedicao .unidade {
    float: left;
}

div.missao_info {
    position: relative;
    width: 200px;
    height: 240px;
    float: left;
    background: url(../imagens/expedicao/ataque.png) no-repeat;
}

div.missao_info div.tempo_restante {
    position: absolute;
    left: 55px;
    top: 135px;
    font-size: 22px;
    color: rgba(11, 178, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.missao_info div.tempo_chegada {
    position: absolute;
    left: 88px;
    top: 160px;
    font-size: 16px;
    color: rgba(11, 178, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.missao_info h2 {
    font-size: 20px;
    color: rgb(147, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.missao_info h1 {
    font-size: 30px;
    color: rgb(207, 166, 7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.missao_info button {
    position: absolute;
    bottom: 0;
    width: 80px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-transform: uppercase;
    outline: none;
    background-color: #1AFF00;
}

div.unidade {
    position: relative;
    margin: 1px;
    background-color: #82949B;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    background-size: 60px;
    box-shadow: 0px 1px 5px -2px #000;
}

div.unidade h3 {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

div.unidade > span {
    background-color: rgba(0, 0, 0, .9);
    border-radius: 2px;
    padding: 2px;
    font-size: 10px;
}

div.unidade .quantidade {
    position: absolute;
    bottom: 2px;
    right: 5px;
    text-align: right;
    color: #FF9800;
    text-shadow: 0 1px 1px #FF9800;
}

div.unidade .perdas {
    position: absolute;
    bottom: 20px;
    right: 5px;
    text-align: right;
    color: #FF5722;
    text-shadow: 0 1px 1px #FF5722;
}

div.unidade input {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 1px #000;
    text-align: center;
    outline: none;
}

div.unidade input.cor1 {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

div.unidade input.cor2 {
    background: rgba(140, 0, 0, 0.5);
    color: #000;
}

/*Todas as telas*/
.usuario {
    font-style: italic;
    color: #03A9F4;
}

.alianca {
    font-style: italic;
    color: #03A9F4;
}

.horario {
    font-style: italic;
    color: rgb(255, 77, 0);
}

.table-footer {
    border-radius: 2px;
    margin-top: 2px;
    padding: 2px;
}

.table-footer:before {
    display: table;
    content: " ";
}

.table-footer .actions {
    float: left;
}

.table-footer .pagination {
    float: left;
    list-style-type: none;
    margin: 0 4px;
}

.table-footer .pagination li {
    float: left;
    text-align: center;
    margin: 4px 1px;
}

.table-footer .pagination a:hover {
    color: #0BBA92;
    text-shadow: 0 0 5px #0BBA92;
}

.table-footer .pagination a.active {
    color: #ffdb24;
    font-weight: 900;
}

.flex {
    display: flex;
}

.flex.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

hr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #eee;
}

.bold {
    font-weight: bold;
}

.botao_excluir {
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    color: #F00;
    text-shadow: 0 0 6px #F00;
    border-radius: 50%;
    transition: all .2s;
    outline: none;
}

.botao_excluir:hover {
    text-shadow: 0 0 2px #F00;
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.botao_mensagem {
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    color: #F00;
    text-shadow: 0 0 6px #F00;
    border-radius: 50%;
    transition: all .2s;
    outline: none;
}

.botao_mensagem:hover {
    text-shadow: 0 0 2px #F00;
    background: #fff;
    box-shadow: 0 0 2px #fff;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.opacity0 {
    opacity: 0 !important;
}

.bloqueado {
    color: #F00;
}

a.cidade-atacante, .cidade-atacante {
    color: #3AA529;
}

a.cidade-defensor, .cidade-defensor {
    color: #F35523;
}

a.atacante, .atacante {
    color: #22648C;
}

a.defensor, .defensor {
    color: #7A8C22;
}

span i {
    margin-right: 2px;
}

/*lista de pesquisas*/

ul.pesquisas {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.pesquisas li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 65px;
    height: 65px;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
    border: 1px solid transparent;
}

ul.pesquisas.links li {
    cursor: pointer;
}

ul.pesquisas li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
}

ul.pesquisas li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.pesquisas li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.pesquisas li i.pesquisando {
    color: #ddd;
}

ul.pesquisas li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 0;
    text-shadow: 0 1px 1px #000;
}

ul.pesquisas li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #FF9800;
}

/*lista de construcoes*/

ul.construcoes {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.construcoes li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 65px;
    height: 65px;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
}

ul.construcoes.links li {
    cursor: pointer;
}

ul.construcoes li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
}

ul.construcoes li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.construcoes li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.construcoes li i.construindo {
    color: #ddd;
}

ul.construcoes li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 0;
    text-shadow: 0 1px 1px #000;
}

ul.construcoes li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #FF9800;
}

/*lista de unidades*/

ul.unidades {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.unidades li {
    position: relative;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 65px;
    height: 65px;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
    border: 1px solid transparent;
}

ul.unidades.links li {
    cursor: pointer;
}

ul.unidades li:not(.unidades_recrutamento) {
    float: left;
}

ul.unidades li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
}

ul.unidades li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.unidades li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.unidades li i.construindo {
    color: #ddd;
}

ul.unidades li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 0;
    text-shadow: 0 1px 1px #000;
}

ul.unidades li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #FF9800;
}

ul.unidades li input[type="text"] {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    border: 0;
    border-radius: 2px;
    background-color: #3D3D3D;
    box-shadow: 0 1px 1px #1A1A1A;
    color: #fff;
    text-align: center;
    outline: none;
}

/* Lista de forças */

ul.forcas {
    width: 310px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.forcas li {
    float: left;
    padding: 5px;
}

/*lista de herois*/

ul.herois {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    width: 384px;
}

ul.herois li {
    position: relative;
    float: left;
    background: #3D7788;
    border-radius: 2px;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 5px -2px #000;
    border: 1px solid transparent;
}

ul.herois.links li {
    cursor: pointer;
}

ul.herois li h3 {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 0;
}

ul.herois li i {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
}

ul.herois li i.levelup {
    color: #0f0;
    text-shadow: 0 1px #2E5612;
}

ul.herois li i.pesquisando {
    color: #ddd;
}

ul.herois li p.tempo {
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    color: #1AFF00;
    text-shadow: 0 1px 1px #000;
}

ul.herois li span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 0;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    font-size: 10px;
    color: #3D7788;
}

/*fim todas as telas*/

/*tela Mensagens*/

coh-mensagem {
    display: block;
    width: 500px !important;
    height: 430px !important;
}

coh-mensagem .paginacao {
    position: absolute;
    bottom: 2px;
    width: 494px;
    height: 14px;
}

coh-mensagem .titulo {
    font-weight: bold;
    background-color: rgba(31, 30, 28, 0.8);
    color: #fff;
    padding: 4px 2px;
    font-style: italic;
    font-weight: bold;
}

coh-mensagem .replicas {
    height: 250px;
}

coh-mensagem .replicas .dados {
    background: rgb(242, 241, 180);
    padding: 4px;
    margin: 2px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    color: #1f1e1c;
}

coh-mensagem .replicas .dados .titulo {
    font-style: italic;
}

coh-mensagem .replicas .dados .texto {
    font-size: 14px;
    padding-left: 10px;
}

coh-mensagem .novausuario {
    width: 478px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

coh-mensagem .novausuario label {
    vertical-align: top;
    font-weight: bold;
    color: #00A6E8;
}

coh-mensagem .novausuario input {
    color: #fff;
}

coh-mensagem .novaassunto {
    width: 478px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

coh-mensagem .novaassunto label {
    font-weight: bold;
    color: #FF6100;
}

coh-mensagem .novaassunto input {
    border: 0;
    background: transparent;
    color: #fff;
    width: 400px;
    outline: none;
}

coh-mensagem .novamensagem textarea {
    width: 500px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    resize: none;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    outline: none;
}

coh-mensagem .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

coh-mensagem .listar table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

coh-mensagem .listar table tbody tr td {
    height: 32px;
    padding: 2px;
}

coh-mensagem .listar table tbody tr td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

coh-mensagem .listar table tbody tr td.texto a:hover {
    color: #2E5612;
}

coh-mensagem .listar table tbody tr td.replicas {
    text-align: center;
}

coh-mensagem .listar table tbody tr:nth-child(odd) {
    background: #252525;
}

coh-mensagem .listar table tbody tr:nth-child(even) {
    background: #2A2926;
}

/*fim tela mensagens*/

/*tela administrador*/

#Administrador {
    width: 400px !important;
    height: 430px !important;
}

#Administrador .spam {
    width: 378px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Administrador .spam label {
    font-weight: bold;
    color: #00A6D9;
}

#Administrador .spam input[type="text"] {
    width: 280px;
    border: 0;
    background: transparent;
    outline: none;
}

#Administrador .spam input[type="submit"] {
    float: right;
}

#Administrador .limite {
    width: 378px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

#Administrador .limite label {
    font-weight: bold;
    color: #FF6100;
}

#Administrador .limite input[type="text"] {
    width: 300px;
    border: 0;
    background: transparent;
    outline: none;
}

#Administrador .limite input[type="submit"] {
    float: right;
}

#Administrador .spamlist {
    height: 325px;
}

#Administrador .spamlist th {
    padding: 0 4px;
}

/*fim tela administrador*/

/*tela aliança*/

/*tabela*/

coh-alianca {
    width: 400px !important;
    height: 430px !important;
}

coh-alianca-nivel {
    width: 350px !important;
    height: 430px !important;
}

coh-alianca .listar, coh-alianca-nivel .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
}

coh-alianca .listar {
    height: 398px;
}

coh-alianca .listar.aliancas {
    height: 352px;
}

coh-alianca-nivel .listar {
    height: 350px;
}

coh-alianca table {
    border-collapse: collapse;
}

coh-alianca table.membros {
    width: 398px;
}

coh-alianca button {
    padding: 0;
    margin: 0 2px;
    box-shadow: none;
    background-color: transparent;
}

coh-alianca table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

coh-alianca table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

coh-alianca table > thead > tr > th {
    text-align: left;
}

coh-alianca table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

coh-alianca table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

coh-alianca table > tbody > tr > td.texto a:hover {
    color: #2E5612;
}

coh-alianca table > tbody > tr > td.replicas {
    text-align: center;
}

coh-alianca .titulo {
    width: 378px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    border-radius: 2px;
}

coh-alianca .titulo span {
    color: #fff;
    text-shadow: 1px 2px 1px #000;
}

coh-alianca .titulo label {
    color: #00A6D9;
}

coh-alianca .titulo span {
    font-size: 18px;
    font-style: italic;
}

coh-alianca .titulo input {
    flex: 1;
    border: 0;
    background: transparent;
    color: #fff;
    outline: none;
    margin: 0 5px;
}

coh-alianca .descricao {
    width: 248px;
    height: 370px;
    padding: 5px 10px;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    font-size: 14px;
    font-style: italic;
}

coh-alianca .rank {
    border: 1px solid #1f1e1c;
    margin-left: 5px;
    width: 122px;
    height: 380px;
}

coh-alianca .rank table {
    width: 122px;
}

coh-alianca .listar table > thead > tr > th.opcoes {
    text-align: center;
}


coh-alianca .rank table > tbody > tr > td:nth-child(1) {
    width: 35px;
}

coh-alianca div.opcoes {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    margin-top: 2px;
    padding: 2px;
}

coh-alianca .novousuario {
    min-height: 50px;
    padding: 5px 10px;
    background: #F2F1B4;
    margin: 5px 0;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
}

coh-alianca .novousuario label {
    font-weight: bold;
    color: #00A6E8;
}

coh-alianca .novousuario input {
    border: 0;
    background: transparent;
    width: 300px;
    outline: none;
}

coh-alianca .opcoes_propriedades {
    height: 360px;
}

coh-alianca .propriedades {
    background-color: rgba(31, 30, 28, 0.8);
    margin: 5px 0;
    padding: 2px 0;
    border-radius: 2px;
}

coh-alianca p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

coh-alianca .propriedades div {
    padding: 5px 10px;
}

coh-alianca .propriedades > .recrutamento .label {
    color: #FF4D00;
}

coh-alianca .propriedades > .recrutamento .choice {
    padding: 5px;
}

coh-alianca .propriedades > .abandonar label {
    color: #F00;
}

coh-alianca .propriedades > .abandonar button {
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 1px #DADADA;
    outline: none;
}

coh-alianca .propriedades > .transferir label {
    color: #30A6C8;
}

coh-alianca .propriedades > .transferir select {
    border: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 1px #DADADA;
    outline: none;
}

coh-alianca .propriedades > .excluir {
    border-radius: 5px;
    margin: 5px;
    background: #772A2A;
}

coh-alianca .propriedades > .excluir label {
    color: #f00;
}

coh-alianca .propriedades textarea {
    border: 0;
    padding: 5px;
    width: 388px;
    background: transparent;
    color: #fff;
    outline: none;
    resize: none;
    font-size: 14px;
    font-style: italic;
}

coh-alianca .propriedades textarea[name="descricao"] {
    height: 190px;
}

coh-alianca .propriedades textarea[name="descricao_interna"] {
    height: 140px;
}

/*fim tela aliança*/

/*tela forum aliança*/

#Forum_Alianca {
    width: 600px !important;
    height: 430px !important;
}

#Forum_Alianca .paginacao {
    position: absolute;
    bottom: 2px;
    width: 594px;
    height: 14px;
}

#Forum_Alianca .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

#Forum_Alianca table {
    width: 598px;
}

#Forum_Alianca table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

#Forum_Alianca table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

#Forum_Alianca table > thead > tr > th {
    text-align: left;
}

#Forum_Alianca table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

/*fim tela forum aliança*/

/*tela forum estatisticas*/

coh-estatisticas {
    width: 400px !important;
    height: 430px !important;
}

coh-estatisticas .listar {
    border: 1px solid #1f1e1c;
    background-color: rgba(31, 30, 28, 0.8);
    height: 398px;
}

coh-estatisticas table {
    width: 398px;
}

coh-estatisticas table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

coh-estatisticas table.membros > tbody > tr > td:nth-child(5){
    width: 140px;
}

coh-estatisticas table > thead > tr > th {
    text-align: left;
}

coh-estatisticas table > tbody > tr > td {
    height: 26px;
    padding: 2px;
}

coh-estatisticas table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
    transition: color .2s;
}

/*fim tela estatisticas*/

/*Relatórios*/

coh-relatorio {
    display: block;
}

.relatorio > .titulo {
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px;
    border-radius: 2px 2px 0 0;
}

.relatorio > .titulo > * {
    display: inline-block;
}

.relatorio > .titulo h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
}

.relatorio > .titulo h3 i {
    margin-right: 2px;
}

.relatorio > .titulo .horario {
    float: right;
}

.relatorio .visualizacao {
    display: inline-block;
    background-color: #F2F1B4;
    border: 1px solid #1f1e1c;
    border-radius: 0 0 2px 2px;
}

.relatorio .visualizacao > div {
    float: left;
}

.relatorio .visualizacao .propriedades {
    width: 160px;
    min-height: 136px;
    text-shadow: 0 0 1px #000;
    padding: 2px;
}

.relatorio .visualizacao .propriedades .pontos {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #306147;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .pontos > span {
    font-weight: bold;
    color: red;
}

.relatorio .visualizacao .propriedades .status {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #306147;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .atacante, .relatorio .visualizacao .defensor {
    width: 320px;
    padding: 2px;
}

.relatorio .visualizacao .atacante {
    border-radius: 0 0 0 2px;
}

.relatorio .visualizacao .defensor {
    border-radius: 0 0 2px 0;
}

.relatorio .visualizacao .atacante .unidade {
    float: left;
}

.relatorio .visualizacao .defensor .unidade {
    float: right;
}

.propriedades .moral {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #216C76;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .moral span.positivo {
    color: #16B516;
}

.relatorio .visualizacao .propriedades .moral span.negativo {
    color: #F00;
}

.relatorio .visualizacao .propriedades .sorte {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #17571F;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .sorte span.positivo {
    color: #16B516;
}

.relatorio .visualizacao .propriedades .sorte span.negativo {
    color: #F00;
}

.relatorio .visualizacao .propriedades .recursos {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px -2px #000;
    background-color: #29992E;
    font-weight: bold;
    text-align: center;
    color: white;
}

.relatorio .visualizacao .propriedades .recursos > * {
    margin: 2px;
}

.relatorio .visualizacao .propriedades .recursos h3 {
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    color: #5BE0FF;
}

.relatorio .visualizacao .propriedades .recursos p > span {
    font-weight: normal;
}

/*fim tela relatorios*/

/*tela usuario*/

coh-usuario {
    width: 482px !important;
    height: 382px !important;
}

coh-usuario .avatar {
    float: left;
}

coh-usuario .avatar img {
    margin: 2px;
}

coh-usuario .detalhes {
    display: table;
    float: left;
    width: 280px;
}

coh-usuario .detalhes > * {
    margin: 2px;
}

coh-usuario .detalhes > p {
    width: 100%;
    font-weight: bold;
    background-color: rgba(31, 30, 28, 0.8);
    padding: 2px 6px;
    border-radius: 2px;
}

coh-usuario .detalhes > p span {
    font-weight: normal;
}

coh-usuario .descricao {
    clear: both;
    height: 180px;
    margin: 2px;
    padding: 5px 10px;
    background: #F2F1B4;
    color: #1f1e1c;
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    font-size: 12px;
    font-style: italic;
}

coh-usuario .links {

}

coh-usuario .links > a {
    float: left;
    font-size: 32px;
    padding: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: color .2s;
    color: #333;
}

coh-usuario .links > a.mensagem:hover {
    color: #D2D729;
}

coh-usuario .links > a.rank:hover {
    color: #003DFF;
}

coh-usuario .links > a.negociar:hover {
    color: #479D35;
}

coh-usuario .links > a.denunciar:hover {
    color: #F35523;
}

coh-usuario h3 {
    margin: 2px 0;
}

coh-usuario .medalhas-todas {
    height: 380px;
}

coh-usuario ul.medalhas {
    font-size: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
}

coh-usuario ul.medalhas > li {
    float: left;
    list-style: none;
    padding: 10px;
}

coh-usuario .cidades-todas {
    height: 380px;
}

coh-usuario .cidades > p {
    float: left;
    font-weight: bold;
    background-color: #F2F1B4;
    color: #1f1e1c;
    border: 1px solid #1f1e1c;
    box-shadow: 0 1px #333;
    padding: 2px 6px;
    border-radius: 2px;
    margin: 2px;
    text-align: center;
    text-shadow: 0 1px 1px #1f1e1c;
}

coh-usuario .cidades > p > a {
    text-decoration: none;
}

coh-usuario .cidades > p > a:hover {
    color: #046207;
}

coh-usuario .cidades > p.selecionada a {
    color: #002EA6;
}

coh-usuario .avatar input[type="file"] {
    display: none;
}

coh-usuario ul.opcoes {
    padding-left: 0;
    list-style: none;
    font-size: 0;
}

coh-usuario .opcoes li {
    float: left;
    font-weight: bold;
    background-color: #F2F1B4;
    border: 1px solid #1f1e1c;
    box-shadow: 0 1px #333;
    padding: 2px 6px;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 1px 1px #1f1e1c;
}

coh-usuario a.ferias {
    color: #002E89;
    text-decoration: none;
}

coh-usuario a.deletar {
    color: #F35523;
    text-decoration: none;
}

coh-usuario .bloqueado {
    opacity: .5;
}

coh-usuario .detalhes > p > * {
    padding: 3px;
}

/*fim tela usuario*/

/*tela coh-laboratorio*/

coh-laboratorio {
    display: block;
    width: 600px !important;
    height: 382px !important;
}

div.lista {
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    width: 396px;
    height: 270px;
}

div.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 196px;
    height: 376px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
}

div.sidebar h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 5px 0 5px 0;
}

div.sidebar > h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.sidebar > .detalhes {
    max-height: 235px;
}

div.sidebar > .detalhes img {
    float: left;
    margin: 0 5px;
    border-radius: 4px;
    box-shadow: 0px 1px 5px -2px #000;
}

div.sidebar > .detalhes p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.sidebar .recursos {
    margin-top: 10px;
    clear: both;
}

div.requisitos {
    position: absolute;
    bottom: 0;
    width: 392px;
    height: 100px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    margin-bottom: 6px;
    padding: 0 2px;
}

div.requisitos > h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 2px;
}

p.pesquisar button {
    background-color: #00B8FF;
}

.acoes .separator {
    display: inline-block;
    width: 0;
    height: 9px;
    border-left: 8px solid rgba(76, 76, 76, 0.8);
    border-right: 8px solid rgba(109, 109, 109, 0.8);
}

.acoes input {
    background: none;
    border: 0;
    width: 20px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    vertical-align: bottom;
}

/*fim tela de coh-laboratorio*/

/*tela coh-barraca*/

coh-barraca {
    display: flex;
    width: 600px !important;
    height: 382px !important;
}
/*
coh-barraca .sobre_unidade {
    position: relative;
    width: 94%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
}

coh-barraca .recrutamento {
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
    text-align: center;
    height: 100%;
}

coh-barraca h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.imagem {
    float: left;
    background-color: #3D7788;
    box-shadow: 0px 1px 5px -2px #000;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.imagem img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

coh-barraca .lista {
    width: 96%;
    padding: 5px;
    background-color: rgba(31, 30, 28, 0.8);
    border-radius: 2px;
}

coh-barraca h3 {
    font-size: 12px;
}

coh-barraca ul.unidades_recrutar {
    width: 70px;
    margin: auto;
}

coh-barraca div.recursos {
    clear: both;
    padding-top: 10px;
}

coh-barraca .acoes {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0;
}

coh-barraca .acoes div button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 0;
}

coh-barraca .acoes input {
    background: none;
    border: 0;
    width: 20px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    vertical-align: bottom;
}

coh-barraca button.recrutar {
    width: 82px;
    background-color: #00B8FF;
}*/

/*fim tela coh-barraca*/

/*tela coh-laboratorio*/

coh-academia {
    display: block;
    width: 600px !important;
    height: 382px !important;
}

coh-academia > div.lista {
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    width: 396px;
    height: 270px;
}

coh-academia > div.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 196px;
    height: 376px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    padding: 2px;
    margin: 5px;
    border-radius: 2px;
}

coh-academia > div.sidebar h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    margin-left: 10px;
}

coh-academia > div.sidebar > h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

coh-academia > div.sidebar > .detalhes p {
    font-size: 12px;
    margin: 0;
}

coh-academia > div.funcoes {
    position: absolute;
    bottom: 0;
    width: 392px;
    height: 100px;
    background-color: rgba(31, 30, 28, 0.8);
    border: 1px solid #1f1e1c;
    border-radius: 2px;
    margin-bottom: 6px;
    padding: 0 2px;
}

coh-academia > div.funcoes > h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 2px;
}

coh-academia p.pesquisar button {
    background-color: #00B8FF;
}

/*fim tela de coh-laboratorio*/

/*tela de defesa*/
coh-defesa-cidade, coh-defesa-expedicao {
    display: block;
    position: relative;
    width: 600px !important;
    height: 382px !important;
}

coh-defesa-cidade table, coh-defesa-expedicao table {
    width: 600px;
}
/*fim tela de defesa*/

p.pesquisar {
    clear: both;
    text-align: center;
}

ul.recursos {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
    cursor: default;
    min-height: 44px;
}

ul.recursos > li {
    position: relative;
    float: left;
    width: 50px;
    padding: 0 5px;
    padding-left: 25px;
    margin: 2px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px -2px #000;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    line-height: 18px;
    height: 18px;
}

ul.recursos > li > input {
    background: transparent;
    border: 0;
    width: 68px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
}

ul.recursos li::before {
    position: absolute;
    content: "";
    left: 5px;
    width: 20px;
    height: 20px;
}

ul.recursos li.dinheiro {
    background-color: #046507;
}

ul.recursos li.dinheiro::before {
    background: url('../imagens/recursos/dinheiro.png');
    background-size: 20px;
}

ul.recursos li.alimento {
    background-color: #600;
}

ul.recursos li.alimento::before {
    background: url('../imagens/recursos/alimento.png');
    background-size: 20px;
}

ul.recursos li.metal {
    background-color: #4F989D;
}

ul.recursos li.metal::before {
    background: url('../imagens/recursos/metal.png');
    background-size: 20px;
}

ul.recursos li.petroleo {
    background-color: #3F3F3F;
}

ul.recursos li.petroleo::before {
    background: url('../imagens/recursos/petroleo.png');
    background-size: 20px;
}

ul.recursos li.energia {
    background-color: #607D8B;
}

ul.recursos li.energia::before {
    background: url(../imagens/recursos/energia.png);
    background-size: 20px;
}

ul.recursos li.populacao {
    background-color: #004C7C;
}

ul.recursos li.populacao::before {
    background: url('../imagens/recursos/populacao.png');
    background-size: 20px;
}

ul.recursos li.honra {
    background-color: #9d980a;
}

ul.recursos li.honra::before {
    background: url('../imagens/recursos/populacao.png');
    background-size: 20px;
}

ul.recursos li.relogio {
    background-color: #249d4c;
}

ul.recursos li.relogio::before {
    background: url('../imagens/recursos/relogio.png');
    background-size: 20px;
}

ul.recursos li.master {
    background-color: #509d72;
}

ul.recursos li.master::before {
    background: url('../imagens/recursos/populacao.png');
    background-size: 20px;
}

div.recursos h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

ul.info {
    list-style: none;
}

/*fim tela coh-laboratorio*/

/* tela de coh-espionagem */
coh-espionagem {
    display: block;
    position: relative;
    height: 282px !important;
}

.input-investimento {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
}
/* fim da tela de coh-espionagem */

/*myscroll*/
.myscroll .scrollbar {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #000000;
    box-shadow: 0 1px 0px #000000, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255,255,255,.5), inset 0 0 25px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.myscroll .scrollbarbkg {
    position: absolute;
    background-color: #222;
    width: 8px;
    right: 0;
}

.textcomplete {
    position: absolute;
    max-width: 80px;
    list-style: none;
    padding: 2px 10px;
    border: 1px solid #D4D5D7;
    background: #FFF;
    box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    transition: opacity .2s;
}

.textcomplete li {
    transition: all .2s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textcomplete li:hover {
    color: #00f;
}

.textcomplete .arrow {
    background: url(../imagens/arrow.png);
    width: 14px;
    height: 9px;
    margin-left: 18px;
    margin-top: -10px;
}

.mensagem-editor {
    border-radius: 2px;
}

.mensagem_espelho {
    position: relative;
    height: 300px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #1F1E1C;
    color: #000;
    overflow: auto;
    outline: none;
}

.mensagem-acoes {
    background-color: rgba(31, 30, 28, 0.8);
}

.mensagem-acoes button {
    margin: 0;
    padding: 2px 5px;
}

.mensagem-acoes-separador {
    display: inline-block;
    padding: 5px;
}







table {
    border-collapse: collapse;
}

table thead {
    background-color: rgba(31, 30, 28, 0.8);
}

table th {
    padding: 0 2px;
}

table > tbody > tr > td {
    padding: 2px;
}

table > tbody > tr > td.texto a {
    display: block;
    text-decoration: none;
    color: #7E9759;
}

table > tbody > tr > td.replicas {
    text-align: center;
}

table > tbody > tr:nth-child(odd) {
    background: #252525;
}

table > tbody > tr:nth-child(even) {
    background: #2A2926;
}

/* MOBILE */
@media (max-width: 800px) {
    coh-recursos {
        max-width: 220px;
    }

    coh-sidebar {
        top: 130px;
    }
}